// ==== colors ====
$color-primary-black: #323232;
$color-primary-blue: #0095ff;
$color-primary-grey: #afafaf;
$color-primary-white: #ffffff;

$color-secondary-black: #000000;
$color-secondary-blue: #0065ad;
$color-secondary-grey: #e1e1e1;
$color-secondary-white: #fafafa;

$color-form-error-red: #d22d2d;

// ==== padding ====
$padding-form-field-mobile: 0.75rem;
$padding-form-field: 1rem;
$padding-form-label-spacing: 0.25rem;
$padding-button-horizontal: 2rem;

// ==== sizes ====
$height-logo: 1.5625rem;
$width-logo: 7.5rem;
$height-button: 2.5rem;
$width-button: 9.375rem;
$height-form-field-mobile: 2.25rem;
$height-form-field: 2.5rem;
$width-form-field: 15rem;
$height-avatar-mobile: 2.25rem; 
$width-avatar-mobile: 2.25rem;
$height-avatar: 2.5rem; 
$width-avatar: 2.5rem;

// ==== border radius ====
$radius-general: 4px;
$radius-avatar: 50%;