@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Avenir";
}