@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.next-videos {
    margin: 1rem;

    @include tablet {
        margin: 1rem 2.25rem;

    }

    &__title {
        font-size: 0.75rem;
        font-weight: 700;
        color: $color-primary-grey;
        margin: 2rem 0;

        @include tablet {
            font-size: 0.875rem;
        }

        @include desktop {
            margin-bottom: 1.5rem;
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 100%;
        }
    }
}