@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    background-blend-mode: multiply;
    background-color: rgba(0, 149, 255, 0.5);
    border: 1.5px solid $color-primary-blue;
    border-radius: 8px;
    margin-top: 0.5rem;

    &__title {
        font-weight: 700;
        margin: 0.5rem;
    }

    &__message {
        margin: 0.25rem;
    }
}