@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 2.25rem;
    }

    @include desktop {
        padding: 0 5.25rem;
        max-width: 80rem;
        margin: 1rem auto;
    }

    &__link {
        display: flex;
        justify-content: center;
    }

    &__logo {
        height: $height-logo;
        width: $width-logo;
        margin: 0 auto 1.5rem auto;

        @include tablet {
            margin: 0;
        }
    }

    &__container {
        position: relative;

        @include tablet {
            display: flex;
            align-items: center;
        }
    }

    &__avatar {
        position: absolute;
        right: 0;
        top: -0.75rem;
        margin: 0;

        @include tablet {
            position: initial;
            order: 2;
            margin-left: 1rem;
        }
    }

    &__upload-button {
        text-decoration: none;

        @include tablet {
            margin-right: 1rem;
        }
    }
}