@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.current-video {

    &__video {
        width: 100%;
    }

    &__info {
        margin: 1rem;
        @include tablet {
            margin: 1rem 2.25rem;
        }
    }
}

