@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.comment-card {
    display: flex;
    border-bottom: 1px solid $color-secondary-grey;
    border-top: 1px solid $color-secondary-grey;
    font-size: 0.8125rem;

    @include tablet {
        font-size: 0.875rem;
    }
    @include desktop {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__avatar {
        width: 100%;
        background-color: $color-secondary-grey;
        border-radius: 50%;
        max-width: $width-avatar-mobile;
        max-height: $height-avatar-mobile;
        object-fit: cover;
        object-position: center;
        margin-top: 1rem;

        @include tablet {
            max-width: $width-avatar;
            max-height: $height-avatar;
        }
    }

    &__content {
        padding-left: 1rem;
        margin: 1rem 0;
        width: 100%;
        @include desktop {
            padding-right: 2.25rem;
            padding-left: 2rem;
        }
    }

    &__comment {
        margin: 0;
    }
}

.comment-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    &__author {
        margin: 0;
        font-weight: bold;
    }

    &__date {
        margin: 0;
        color: $color-primary-grey;
    }
}